nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: navy;

    span {
      cursor: pointer;
      margin: 10px;
      color: white;
      font-size: x-large;
    }

    ul {
        list-style: none;
    }
}
